<title>Sign Up for CampLink</title>

<div class="container">
  <div class="row">
    <div class="col s8 center">
      <img src="/images/camplink.png">
      <p>CampLink is making the world a better place by connecting graduates of the University of Arizona
        Coding Bootcamp.</p>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">We can turn grad info into an object and autocomplete like this
                https://materializecss.com/autocomplete.html</label>
            </div>
            <a class="waves-effect waves-light btn-large">Sign Up</a>
            <a class="waves-effect waves-light btn-large">Sign In</a>
          </div>
        </div>
      </div>


    </div>
  </div>