<link rel="stylesheet" type="text/css" media="screen" href="/styles/profile.css" />
<title>Profile</title>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">CampLink</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Cohorts</a></li>
        </ul>
    </div>
</nav><br>
<div class="container">
    <div class="row" id="profile-holder">
        <div class="col-3 left" id="picture-holder">
            <img src="https://via.placeholder.com/250">

        </div>
        <div class="col-9 right">
            <p class="name">Charlie Erling</p>
            <p class="cohort">July 2018 M/W</p>
            <p class="othershit">Other Shit</p>
        </div>
    </div>
</div>

<div class="container">
    <div class=row>
        <div class="col-4">Contact Info<br>
            Github:<br>
            Portfolio:<br>
            Email:<br>
            Twitter:<br>
            LinkedIn:<br>
        </div>
        <div class="col-4">Coding Info<br>
            Project Spotlight:<br>
            Coding Pals? wtf am i doing:<br>

        </div>
        <div class="col-4">Employment Info<br>
            Current Job: <br>
            Looking to Hire?: <br>
            Looking for Work?: <br>
            Languages: <br>
        </div>
    </div>
</div>